beautifulsoup4==4.8.2
Django==3.0.14
django-jsonfield==1.4.0
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
django-rq==2.3.0
gunicorn==20.0.4
psycopg2==2.8.4
redis==3.4.1
requests==2.23.0
rq==1.2.2
